.dashboard-page {
    padding-top: 64px;
    
    .no-libraries {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8rem;
        color: #FFF;
    }
}