.setup-page {
    .container {
        width: 70%;
        margin-left: 15%;
        margin-top: 5em;
        padding: 1.5rem 1rem;
        min-height: 700px;
        margin-bottom: 2rem;

        .page-title-big {
            margin: .2rem 0 1.2rem;
        }
    }

    .lib-name-input {
        margin: 0 5rem 1rem 5rem;
        width: calc(100% - 10rem);
    }

    .nav-buttons {
        margin: 2.5rem 5rem .5rem 5rem;
        display: flex;
        justify-content: flex-end;
    }

    .directory-selector {
        color: #FEFEFE;
        padding: 0 5rem 2.5rem 5rem;

        .path {
            display: flex;

            .text {
                font-size: .85rem;
                background: rgba(255,255,255,.2);
                border-radius: 4px;
                padding: .3rem 1rem;
                margin-right: .5rem;
                flex-grow: 1;
            }
        }

        .nodes {
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            margin-top: 1rem;

            .node {
                display: flex;
                margin: .5rem 0;
                padding: .4rem .6rem;
                border-radius: 13px;
                cursor: pointer;
                transition: 100ms background ease;
                
                &:hover {
                    background: rgba(255,255,255,.15)
                }

                &.info {
                    color: rgba(255,255,255,.8);
                    cursor: default;
                }
                &.info:hover {
                    background: transparent;
                }
                
                .text {
                    align-self: center;
                    flex-grow: 1;
                    font-size: .9rem;
                    font-weight: 300;
                    margin-left: 1rem;
                }
    
                .icon {
                    width: 60px;
                    min-width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}